<div data-controller="job-slideshow">
  <% @jobs.each_with_index do |job, i| %>
    <div data-target="job-slideshow.slide" data-job-slideshow-index="<%= i %>" class="slide">
      <%= render "jobs/slide", job: job %>
    </div>
  <% end %>
</div>

<div data-controller="fullscreen" class="fullscreen">
  <a data-action="fullscreen#enter" href="#">[...]</a>
</div>
