<% title job.title %>

<article>
  <article class="job">
    <div class="heading">
      <h1>
        <%= job.title %>
        <%= job_logo_tag job, size: :medium %>
      </h1>
    </div>

    <%= render_markdown job.description %>
  </article>
</article>
