<% title job.title %>

<article>
  <article class="job">
    <div class="heading">
      <h1><%= job.title %></h1>
    </div>

    <div class="description">
      <%= job_render job %>
    </div>
  </article>
</article>
