<article class="job">
  <%= link_to job do %>
    <div class="job-listing">
      <h2>
        <%= job_logo_tag job, size: :small %>
        <%= job.title %>
      </h2>
    </div>
  <% end %>
</article>
