<article class="job">
  <%= link_to job do %>
    <div class="job-listing <%= :highlight if defined?(highlight) %>">
      <%= job_thumb_tag job, size: :pristine %>

      <h2>
        <%= job.title %>
      </h2>
    </div>
  <% end %>
</article>
