<article class="job">
  <% if defined?(embedded) %>
    <h2>Ruby Banitsa is going to Japan</h2>
  <% else %>
    <h1>Ruby Banitsa is going to Japan</h1>
  <% end %>

  <p>
    Hi, I&apos;m <a href="https://github.com/gsamokovarov">Genadi (@gsamokovarov)</a>
    and I run Ruby Banitsa. 👋
  </p>

  <p>
    This year, 2023, I&apos;m going to speak at <a href="https://rubykaigi.org/2023">Ruby Kaigi in Matsumoto, Japan</a>
    about <a href="https://docs.rubocop.org/rubocop/1.46/cops_style.html#stylemethodcallwithargsparentheses">Rubocop&apos;s Baddest Cop!</a>
    If you want to sponsor my trip to Japan, and help out Ruby Banitsa along the way,
    you can post a <strong>6 months job offer</strong> and get a <strong>Thank You</strong>
    at the end of my presentation.
  </p>

  <p>
    It will cost you <strong>1000BGN</strong> <em>(without VAT)</em>. 💸
  </p>

  <a class="contact" href="mailto:gsamokovarov+rubybanitsa@gmail.com?subject=Job Posting">
    <%= image_tag 'genadi.png' %> Domo arigato!
  </a>
</article>
