<% title "Jobs" %>

<% left "Events", events_path %>

<% @jobs.each do |job| %>
  <article class="job">
    <%= link_to job do %>
      <div class="logo">
        <%= image_tag job.company.logo.variant(resize: '40x40') %>
      </div>
      <h2><%= job.title %></h2>
    <% end %>
  </article>
<% end %>
