<% title "Post a job" %>

<%= render "section", title: "Sponsor Ruby Banitsa", title_element: "h1" do %>
  <article class="prose max-w-none">
    <h2>Job posting</h2>
    <p>Sponsor Ruby Banitsa with a job posting and spread the word about your awesome company to our attendees.</p>
    <p>Job posting costs <strong>420BGN for 2 months</strong> of rotation. Your posting will be featured on the job panel you see on this, and every, page on our website.</p>
    <p>We will promote your job posting on our social media channels, too.</p>

    <h2>Pay the bill</h2>
    <p>If you are not looking to hire Rubyists at the moment, you can help us by <strong>paying the bill</strong>.</p>
    <p>This is the event space bill, if present, the banitsa, and the bar consumption. We issue a <strong>10% surcharge</strong> over the bill to cover accounting expenses.</p>
    <p>We will promote your sponsorship on the event page and our social media channels.</p>
  </article>

  <%= primary_button "mailto:gsamokovarov+rubybanitsa@gmail.com?subject=Job Posting" do %>
    <%= image_tag "contact.png", class: "h-6" %>
    <span>Shut up and take my money!</span>
  <% end %>
<% end %>
