<nav class='direction'>
  <% if @events.count == 1 %>
  <%= link_to "← events", events_path %>
  <% end %>

  <%= link_to "Jobs →", jobs_path, class: :right %>
</nav>

<% if @events.count == 1 %>
  <%= render 'events/details', event: @events.first %>
<% else %>
  <%= render 'events/many', events: @events %>
<% end %>
