<% e = EventInfo.new(event) %>

<article class="event">
  <%= link_to e do %>
    <h2><%= e.human_title %> <%= upcoming_event_badge e %></h2>
  <% end %>

  <%= render_markdown "#{e.summary} #{link_to("...", e)}" %>
</article>
