<%= render jobs, highlight: true %>

<section id="events">
  <% if events.any? %>
    <%= render events, jobs: jobs %>
  <% else %>
    <p>No events during <%= during.year %>. ☹️</p>
  <% end %>
</section>
