@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply
			inline-flex
			justify-center
			items-center
			gap-2
			font-semibold
			border-2
			border-black
			rounded
			py-3
			px-8
			bg-black
			hover:bg-brand-600
			text-white
			hover:shadow-brutal
			hover:-translate-x-1
			hover:-translate-y-1
			transition
			ease-in-out;
  }

  .btn-secondary {
    @apply
			inline-flex
			justify-center
			items-center
			gap-2
			border-2
			border-black
			rounded-full
			py-2
			px-4
			hover:shadow-brutal
			hover:-translate-x-1
			hover:-translate-y-1
			transition
			ease-in-out;
  }

  .link-primary {
    @apply text-brand-500 hover:underline hover:decoration-brand-500 hover:underline-offset-4 hover:ease-in-out;
  }

  .link-secondary {
    @apply text-brand-50 hover:text-brand-300;
  }
}
