@import "normalize.css/normalize"

@font-face
  font-family: 'bt_mono'
  src: url(asset-path('bt_mono-Bold.eot'))
  src: url(asset-path('bt_mono-Bold.eot')#iefix) format('embedded-opentype')
  src: url(asset-path('bt_mono-Bold.woff')) format('woff'),
  src: url(asset-path('bt_mono-Bold.woff2')) format('woff2'),
  src: url(asset-path('bt_mono-Bold.ttf')) format('truetype'),
  src: url(asset-path('bt_mono-Bold.svg')#bt_monoregular) format('svg')
  font-style: normal
  font-weight: 700

html
  font-family: bt_mono, monospace

  @media screen and (min-width: 48em)
    font-size: 16px

  @media screen and (min-width: 58em)
    font-size: 18px

body
  margin: 0

h1, h2, h3
  margin-top: 1rem
  margin-bottom: 1rem

hr
  border-top: none
  border-bottom: 1px dotted lighten(#ffa1a1, 7)

a
  color: #bf5a5b
  text-decoration: none

.right
  float: right

.content
  @media screen and (min-width: 48em)
    margin-left: 6rem
    margin-right: 28rem

  line-height: 1.5
  padding: 1rem 1rem 1rem 1rem

  background-color: #fff
  color: #515151

.year
  margin-top: 1em
  margin-bottom: 1em

  color: #bf5a5b

.job
  h1, h2, h3
    color: #bf5a5b
    text-transform: uppercase

    &::before
      color: #c44

  .job-listing
    h2
      text-overflow: ellipsis

      overflow: hidden
      white-space: nowrap

      height: 50px
      line-height: 50px

  .heading
    text-transform: uppercase

    h1, h2
      text-overflow: ellipsis

      overflow: hidden
      white-space: nowrap

    &::after
      content: " "
      display: block
      clear: both

  img.logo
    display: block-inline
    float: left

    margin-right: 0.5em
    vertical-align: middle

  .description
    img
      max-width: 100%

  .contact
    display: block

    margin-top: 1em

    padding-left: 0
    padding-right: 0

    background-color: lightyellow
    color: #bf5a5b

    border: 1px solid
    border-color: #bf5a5b
    border-radius: 4px

    font-size: 2em
    font-weight: bold
    line-height: 60px
    height: 60px

    text-align: center
    text-transform: uppercase
    text-overflow: ellipsis

    overflow: hidden
    white-space: nowrap

    img
      height: 90%
      width: auto

      display: block-inline
      vertical-align: middle

.event
  position: relative
  text-align: justify

  h1, h2, h3
    color: #bf5a5b
    text-transform: uppercase

    &::before
      color: #c44

  h1, h2, h3, h4, h5, h6
    text-align: left

  .upcoming
    background-color: lightyellow

  @media screen and (min-width: 48em)
    h1::before
      content: "# "

    h2::before
      content: "## "

    h3::before
      content: "### "

.sidebar
  text-align: justify

  color: #ffa1a1
  background-color: #bf5a5b

  a
    text-decoration: none
    color: lighten(#ffa1a1, 7)

  footer
    p
      margin-bottom: 0
      text-align: center

  .logo
    display: none

  .container
    line-height: 1.5
    padding: 1rem 1rem 4rem 1rem

    h1, h2, h3
      color: #fff

      &::before
        color: #fff

  .item
    display: block
    line-height: 1.75
    text-align: center

    &:hover, &:focus
      text-decoration: underline

  @media screen and (min-width: 48em)
    position: fixed
    right: 0
    top: 0
    bottom: 0
    width: 22rem

    .logo
      display: initial

      img
        display: block
        margin: 0 auto
        width: 75%

    .sticky
      position: absolute
      right: 1rem
      left: 1rem
      bottom: 1rem

.direction
  border-bottom: 1px dotted lighten(#ffa1a1, 7)

  &::after
    content: " "
    display: block
    clear: both

img.emoji
  height: 1em
  width: 1em
  margin: 0 .05em 0 .1em
  vertical-align: -0.1em
