@import "normalize.css/normalize"

body
  font-family: Courier, monospace
  font-size: 16px

h1
  margin-top: 0

h2, h3
  margin-top: 1em
  padding-top: 1em

h1, h2, h3
  color: #bf5a5b
  text-transform: uppercase

  &::before
    color: #c44

h1::before
  content: "# "

h2::before
  content: "## "

h3::before
  content: "### "

.content
  margin-left: 4rem
  margin-right: 26rem

  line-height: 1.5
  padding: 1rem 1rem 4rem 1rem

  background-color: #fff
  color: #515151

.sidebar
  position: fixed
  right: 0
  top: 0
  bottom: 0
  width: 22rem
  text-align: left

  color: #ffa1a1
  background-color: #bf5a5b

  a
    text-decoration: none
    color: lighten(#ffa1a1, 7)

  footer
    p
      margin-bottom: 0

  .sticky
    position: absolute
    right: 1rem
    left: 1rem
    bottom: 1rem

  .logo
    display: block
    margin: 0 auto
    width: 75%

  .container
    line-height: 1.5
    padding: 1rem 1rem 4rem 1rem

    h1, h2, h3
      color: #fff

      &::before
        color: #fff

  .item
    display: block
    line-height: 1.75

    &:hover, &:focus,
      text-decoration: underline
