@import "variables"

.event
  position: relative

  img
    width: 100%

  h1, h2, h3
    color: $primary
    text-transform: uppercase

    &::before
      color: $accent

  h1, h2, h3, h4, h5, h6
    text-align: left

  .upcoming
    background-color: lightyellow

  &.listing:hover
    background: #f7f7f7

  @media screen and (min-width: 48em)
    h1::before
      position: absolute
      left: -1em
      content: "#"

    h2::before
      position: absolute
      left: -1.725em
      content: "##"

    h3::before
      position: absolute
      left: -2.5em
      content: "###"

