@import "variables"

.job-slides-content
  @media screen and (min-width: 48em)
    margin-left: 17rem
    margin-right: 17rem

  line-height: 1.6
  padding: 1rem 1rem 1rem 1rem

  background-color: white
  color: $text

  .slide
    display: none

    &.slide--current
      display: block

  .fullscreen
    display: none

    position: fixed
    right: 1em
    bottom: 1em

    &.fullscreen--supported
      display: initial

    @media screen and (max-width: 48em)
      visibility: hidden
