<% title "No event to join today :(" %>

<%= render "section", title: "No event to join today", title_element: "h1" do %>
  <article class="prose">
    <p>
      Check out the
      <%= link_to "events this year", events_path %>.
    </p>
  </article>
<% end %>
