<div class="flex items-center gap-x-6 bg-black px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white truncate">
    <%= link_to banitsa_conf_url do %>
      <b>Join us on 7th of December, 2024 for our very-first conference event</b>
    <% end %>
  </p>
  <div class="flex flex-1 justify-end">
  </div>
</div>
