<%= link_to root_path, class: "flex items-center gap-3 group" do %>
  <%= render "logo_icon", classes: "w-12 h-12 group-hover:animate-spin" %>
  <span class="logo-wordmark mt-1 text-2xl sm:text-3xl"><%= brand_name %></span>
<% end %>
