<div class="lg:hidden">
  <%= render "section_separator" %>
</div>

<aside class="lg:sticky lg:-top-6" data-turbo-permanent>
  <div class="lg:w-80 xl:w-96">
    <%= render "section" do %>
      <div class="lg:text-center">
        <%= render "section_title", title: "Jobs" %>
      </div>

      <%= render "jobs/card", jobs: jobs %>
    <% end %>
  </div>
</aside>
