---
title: Ruby Banitsa
---

<h1>Ruby Banitsa</h1>

<p>
  Ruby Banitsa is morning event filled with Ruby and Banitsa. If you happen to
  be in Sofia, Bulgaria and like to talk about Ruby while having the munchies,
  please come hang out with us for a breakfast.
</p>

<h2>Events</h2>

<section class="event">
  <header>
    <h3>27th of February in betacafe at <time>09:00</time></h3>
  </header>

  <p>
    This will be our very first Ruby Banitsa, so hello world, I guess. Come
    meet us that lovely Monday morning for a piece of banitsa and a quick
    presentation about clockwork.
  </p>

  <footer>
    <address>ul. "Krum Popov" 58, 1421 Sofia, Bulgaria</address>
  </footer>
</section>
