---
title: Ruby Banitsa
---

<h1>Ruby Banitsa</h1>

<p>
  Ruby Banitsa is an event filled with Ruby and Banitsa. We get
  together, nom some fresh and healthy Banitsa and talk about Ruby. We
  also do brain-sharing sessions. Some people call them presentations.
  Some call them other things.
</p>

<p>
  It's kind of like group therapy. But better, because there is
  Banitsa, ☕️, 🍺 and Ruby.
</p>

<p>
  If you happen to be in Sofia, Bulgaria and like to talk about Ruby
  while having the munchies, please come hang out with us.
</p>

<p>Yum!</p>

<h2>Events</h2>

<section class="event">
  <header>
    <h3>1st of April in plustova at <time>10:00</time></h3>
  </header>

  <p>
    Third time is the charm! Come listen to
    <a href="https://twitter.com/rstankov">Radoslav Stankov</a> talking about
    the <a href="https://github.com/rstankov/SearchObject">SearchObject</a>
    gem.
  </p>

  <footer>
    <address>ul. "Krum Popov" 58, 1421 Sofia, Bulgaria</address>
  </footer>
</section>

<section class="event">
  <header>
    <h3>15th of March in betacafe at <time>18:30</time></h3>
  </header>

  <p>
    The second Ruby Banitsa. Exciting! Join us for some afternoon snacks and
    healthy alcoholic beverages! Yum!
  </p>

  <footer>
    <address>ul. "Krum Popov" 58, 1421 Sofia, Bulgaria</address>
  </footer>
</section>

<section class="event">
  <header>
    <h3>27th of February in betacafe at <time>09:00</time></h3>
  </header>

  <p>
    This will be our very first Ruby Banitsa, so hello world, I guess. Come
    meet us that lovely Monday morning for a piece of Banitsa and a quick
    presentation about scheduled tasks.
  </p>

  <footer>
    <address>ul. "Krum Popov" 58, 1421 Sofia, Bulgaria</address>
  </footer>
</section>

<h2>Friends</h2>

<p>
  You have friends, right! It's nice! Nothing better than this
  human-to-human (I hope you are human) interaction. It warms your
  soul, ours as well!
</p>

<p>
  Let's be friends and show it to the world on twitter
  <a href="https://twitter.com/@rubybanitsa">@rubybanitsa</a> and
  well... just twitter for now!
</p>

<p>Best friends forever and ever! 🙌 </p>

<h2>Thanks</h2>

<p>
  Thank you for taking the time to read this to the very end. You are
  awesome! ❤️
</p>
