<% if speaker.avatar.attached? %>
  <%= image_tag(
    speaker.avatar,
    alt: "#{speaker.name}'s avatar",
    class: "w-full aspect-square object-cover",
    lazy: true
  ) %>
<% else %>
  <div class="w-full aspect-square">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 26.97336 37.28118"
      creator="Katerina Limpitsouni"
      class="p-2 w-full h-full fill-black"
    >
      <path
        d="M12.46307,.00449c-2.69892,.27196-5.1135,1.87721-6.42248,4.2618-1.3847,2.52254-1.22323,5.5874,.27816,8.02657,3.29213,5.34843,11.20045,5.37412,15.04687,.65181,1.0612-1.30286,1.891-2.96333,1.62114-4.68774-.22289-1.42428-1.32137-2.73057-2.78772-2.93295-.94403-.13029-1.35231,1.31481-.39876,1.44642,1.11555,.15397,1.76857,1.13968,1.74166,2.2309-.0311,1.2612-.81025,2.45941-1.64783,3.3519-1.52795,1.62813-3.70395,2.61542-5.94461,2.6067-2.3762-.00924-4.75973-1.11839-6.12418-3.09706-1.27106-1.84323-1.66123-4.24615-.74685-6.32654,.94284-2.14514,3.03268-3.7948,5.38459-4.0318,.95133-.09586,.96122-1.59686,0-1.5h0Z"
        origin="undraw"
      />
      <path
        d="M1.51396,35.02509c-.05729-3.17884-.14375-6.88611,2.14926-9.40117,2.33666-2.56295,6.21722-2.13938,9.35794-2.10887,1.79104,.0174,3.58208,.0348,5.37312,.0522,.93822,.00911,2.11282-.15007,2.79258,.66344,.47729,.5712,.64767,1.58186,.87982,2.27832,1.13932,3.41801,2.27865,6.83602,3.41797,10.25403,.30375,.91127,1.75289,.52067,1.44642-.39876-.70891-2.12676-1.41783-4.25352-2.12674-6.38029-.64682-1.94048-1.1595-4.00537-1.99329-5.87378-.71685-1.60637-2.02373-1.99397-3.68407-2.03584-2.19645-.05539-4.39722-.04272-6.59428-.06406-3.44102-.03343-7.39489-.21857-9.93013,2.55295C.00752,27.40016-.05127,31.40586,.01396,35.02509c.01738,.96412,1.51743,.96722,1.5,0h0Z"
      />
    </svg>
  </div>
<% end %>
