<div class="p-2 sm:p-3 bg-white border-2 border-black rounded-md">
  <div class="border-2 border-black rounded-sm overflow-hidden">
    <%= render "avatar", speaker: speaker %>
  </div>
  <div class="mt-4 text-center">
    <h2 class="sm:text-lg font-medium leading-none">
      <%= speaker.name %>
    </h2>
    <p class="font-medium text-neutral-600">
      <%= pluralize(speaker.talks.size, "talk") %>
    </p>
  </div>
</div>
