<% title "Speakers" %>

<% card_rotations = [
  "-rotate-6",
  "-rotate-1",
  "rotate-6 md:rotate-12",
  "rotate-3",
  "-rotate-6 md:-rotate-12",
  "rotate-0",
  "rotate-6",
  "rotate-1",
  "-rotate-3"
] %>

<%= render "section", title: "Speakers", title_element: "h1" do %>
  <div
    class="
      grid
      grid-cols-2
      md:grid-cols-3
      lg:grid-cols-2
      xl:grid-cols-3
      gap-y-10
      sm:gap-2
      p-4
    "
  >
    <% @speakers.each.with_index do |speaker, index| %>
      <%= render speaker, rotation_class: card_rotations[index % card_rotations.size] %>
    <% end %>
  </div>
<% end %>
